# Inicio de Programa con python

In [3]:
# inicio de codigo con python 3 y jupyter notebook

# importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importar datos
df = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv')

df.head(10)

   comuna       LEI        II        EI    idh       HDI
0   13101  0.791672  0.873137  0.924099  0.807  0.861222
1   13102  0.782817  0.800343  0.713499  0.743  0.764616
2   13103  0.752447  0.750382  0.657961  0.683  0.718874
3   13104  0.784872  0.760697  0.705426  0.707  0.749584
4   13105  0.777236  0.780019  0.673876  0.711  0.742015
5   13106  0.790810  0.784378  0.729145  0.735  0.767604
6   13107  0.726330  0.775631  0.641707  0.737  0.712375
7   13108  0.821551  0.751105  0.722493  0.709  0.763935
8   13109  0.856570  0.835740  0.860235  0.775  0.850780
9   13110  0.773094  0.824255  0.791155  0.804  0.795888

In [4]:
df.tail(10)

    comuna       LEI        II        EI    idh       HDI
42   13501  0.787502  0.739201  0.642315    NaN  0.720423
43   13502  0.876923  0.756470  0.617345    NaN  0.742609
44   13503  0.811913  0.766193  0.647025    NaN  0.738340
45   13504  0.809846  0.756324  0.617808    NaN  0.723305
46   13505  0.819107  0.690242  0.556089    NaN  0.679979
47   13601  0.794968  0.802522  0.686845    NaN  0.759548
48   13602  0.740793  0.766459  0.679887    NaN  0.728127
49   13603  0.784525  0.808623  0.736952    NaN  0.776123
50   13604  0.764730  0.738680  0.659196  0.728  0.719437
51   13605  0.785732  0.801915  0.698606    NaN  0.760697

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   comuna  52 non-null     int64
 1   LEI     52 non-null     float64
 2   II      52 non-null     float64
 3   EI      52 non-null     float64
 4   idh     37 non-null     float64
 5   HDI     52 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 2.6 KB

# Cambio en la rama Dani